#add-recipe-btn{
    background-color: transparent; 
    width: 145px;
    height: 40px;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #8a755a;
    font-size: 17px;
}


