.dash-container{
    margin: 2rem;
 }
 
 .header {
     display: flex;
     justify-content: center;
     font-size: large;
 }
 
 .sidebar {
     background-color: transparent;
 }
 
 .layout{
     background-color: transparent;
 }
 
 .greeting {
     display: flex;
     justify-content: center;
     font-family: "Papyrus";
     font-weight: 700;
     font-size: 2rem;
 }
 
 .deletepro-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 12rem;
     height: 10rem;
     text-align: center;
     position: relative;
     bottom: 220px;
     z-index: 1;
     background-color: pink;
     border: solid 2px rgb(182, 127, 91);
 }
 
 .deletepro-btn{
     width: 60%;
     margin-top: 1rem;
 }
 .deletepro-btn-yes:hover {
     background-color: red;
     color: white;
 }
 
 #container {
     max-width: 100%;
     margin: auto;
     display: flex;
     flex-flow: row wrap ;
     border-radius: 2%;
     justify-content: center;
     max-height: 100%; 
     margin-bottom: 30px;
 }
 
 .dash-nav{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 1rem;
 }
 
 .delete-btn {
     align-self: center;
 }
 
 
 
 