.section-title{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.container{
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    border-radius: 2%;
    justify-content: center;
    max-height: 100%; 
    margin-bottom: 30px;

}

img {
    height: 80px;
    border-radius: 50px;
    margin: 1rem;
}

.card {
    margin: 2rem;
    flex: 1 0 200px;
    border-radius: 2%;
    background-color: transparent;
    opacity: 90%;
    border: 2px solid rgb(206, 173, 131);
    padding: .5rem;
    text-align: center;
  }

  .card h2 {
      margin: center;
      font-family: 'Source Sans Pro', sans-serif;

  }
