nav {
    height:10vh;
    background-color: rgb(206, 173, 131); 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
	margin-top:2rem;
	height: 80px;
	width: 100%;
	background: blue;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav-logo {
	text-decoration: none;
	color: white;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 20px;
	list-style: none;
}

.nav-link {
	background-color: rgb(253, 253, 253);
    color: rgb(168, 133, 87);
    margin: 2rem;   
    font-size: 20px;
    border: 2px solid rgb(168, 133, 87); 
    border-radius: 6px;
    padding: 5px 22px;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}
.nav-logo-container{
    height: 100%;
    display: flex;
    align-items: center;
}

/* #bumbu-name{
    height: 30vh;
    margin-top: 8em;
    margin-left: -4em;
} */

#bumbu-logo{
    height: 25vh;
    /* margin-top: 0; */
    margin-left: -6em;
}

@media only screen and (max-width: 700px) {
	.navbar {
		position: relative;
	}

    .nav-links {
        padding: 5px 22px;
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: right;
		top: 80px;
		right:-100%;
		z-index: 1;
		float: right;
	}

	.nav-links.active {
		background: rgb(246, 246, 233);
		right: 0;

	}

	.nav-item, .nav-btn {
		padding: 10px 0;
	}

	.nav-icon {
		display: flex;
        margin-right: 2rem;
	}
}